<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="none">
  <test name="ChromeTest">
   <parameter name="browser" value="chrome"></parameter>
    <classes>
      <class name="hackathon.afterinterim.Main"/>
    </classes>
  </test> <!-- Test -->
  
  <test name="EdgeTest">
   <parameter name="browser" value="Edge"></parameter>
    <classes>
      <class name="hackathon.afterinterim.Main"/>
    </classes>
  </test> 
  
  
</suite> <!-- Suite -->
